USE [master]
GO
/****** Object:  Database [EmployeePortal]    Script Date: 16-02-2026 10:32:22 ******/
CREATE DATABASE [EmployeePortal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employee Portal', FILENAME = N'C:\Users\Client\Employee Portal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Employee Portal_log', FILENAME = N'C:\Users\Client\Employee Portal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeePortal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeePortal]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 16-02-2026 10:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MobileNumber] [nvarchar](10) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[IsTempPassword] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [EmployeeId], [FullName], [Email], [MobileNumber], [PasswordHash], [Role], [CreatedBy], [IsActive], [IsTempPassword], [CreatedAt]) VALUES (1, N'EMP0001', N'HR Admin', N'hr@company.com', N'9876543210', N'hashed_hr_password', N'ADMIN', NULL, 1, 1, CAST(N'2026-02-14T16:58:42.047' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__250375B1EE8A787A]    Script Date: 16-02-2026 10:32:22 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[MobileNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__7AD04F107A8268B5]    Script Date: 16-02-2026 10:32:22 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D10534BD85844A]    Script Date: 16-02-2026 10:32:22 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsTempPassword]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddEmployee]    Script Date: 16-02-2026 10:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_AddEmployee]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @MobileNumber NVARCHAR(10),
    @PasswordHash NVARCHAR(255),
    @Role NVARCHAR(20),
    @CreatedBy NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NextNumber INT;
    DECLARE @NewEmployeeId NVARCHAR(20);

    IF EXISTS (SELECT 1 FROM Employees WHERE Email = @Email)
    BEGIN
        SELECT 'FAIL' AS Status, 'Email already exists' AS Message;
    END
    ELSE IF EXISTS (SELECT 1 FROM Employees WHERE MobileNumber = @MobileNumber)
    BEGIN
        SELECT 'FAIL' AS Status, 'Mobile number already exists' AS Message;
    END
    ELSE
    BEGIN
        SELECT @NextNumber = ISNULL(MAX(CAST(SUBSTRING(EmployeeId,4,10) AS INT)),0) + 1 FROM Employees;

        SET @NewEmployeeId = 'EMP' + RIGHT('0000' + CAST(@NextNumber AS VARCHAR),4);

        INSERT INTO Employees (EmployeeId, FullName, Email, MobileNumber, PasswordHash, Role, CreatedBy, IsActive, IsTempPassword)
        VALUES (@NewEmployeeId, @FullName, @Email, @MobileNumber, @PasswordHash, @Role, @CreatedBy, 1, 1);

        SELECT 'SUCCESS' AS Status, @NewEmployeeId AS EmployeeId;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetActiveEmployees]    Script Date: 16-02-2026 10:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetActiveEmployees]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        EmployeeId,
        FullName,
        Email,
        MobileNumber,
        Role,
        CreatedBy,
        CreatedAt
    FROM Employees
    WHERE IsActive = 1
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_LoginEmployee]    Script Date: 16-02-2026 10:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_LoginEmployee]
    @EmployeeId NVARCHAR(20),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 
        FROM Employees 
        WHERE EmployeeId = @EmployeeId
          AND PasswordHash = @PasswordHash
          AND IsActive = 1
    )
    BEGIN
        SELECT 
            'SUCCESS' AS Status,
            EmployeeId,
            FullName,
            Role,
            IsTempPassword
        FROM Employees
        WHERE EmployeeId = @EmployeeId;
    END
    ELSE
    BEGIN
        SELECT 'FAIL' AS Status, 'Invalid credentials or inactive user' AS Message;
    END
END;
GO
USE [master]
GO
